

body {
    display:  flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(136, 180, 218);

}

.stop-watch {

    display:  flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(94, 125, 152) ; 
    border-radius: 50px;
    background-color: rgb(237, 251, 251);
    padding: 60px;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
}

.display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(9, 53, 92);
    text-shadow: 2px 2px rgb(94, 125, 152);
    margin-bottom: 25px;
}

.controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease ;
}

.start-btn {
    background-color: rgb(136, 180, 218) ;  
}

.start-btn:hover {
    background-color: rgb(56, 74, 91) ;  
}


.stop-btn {
    background-color: rgb(218, 136, 136) ;  
}

.stop-btn:hover {
    background-color: rgb(91, 56, 56) ;  
}

.reset-btn {
    background-color: rgb(136, 180, 218) ;  
}

.reset-btn:hover {
    background-color: rgb(56, 74, 91) ;  
}
